{% extends 'myapp/base.html' %}


{% block content %}

<form action="" class="bg-white rounded text-black shadow-md m-10 px-8 py-9 w-2/5" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-5">
        <label class="block text-lg font-bold mb-4">Upload Profile Image</label>
        <input placeholder="upload image :" type="file" accept="image/*" name="upload" id="upload" class="w-1/4 py-3 px-4 ml-10 text-gray-700">
    </div>
    <div class="mb-5">
        <label class="block text-lg font-bold mb-4">Upload Contact Number</label>
        <input type="text" placeholder="9999999999" name="contact_number" id="contact_number" class="shadow border rounded appearance-none py-3 px-4 ml-10 text-gray-700 w-1/3 ">
    </div>
    <input type="submit" value="Add" class="bg-green-500 text-white px-5 py-2 ml-10 mt-10 rounded">
</form>

{% endblock %}